* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

#contain {
  width: 720px;
  margin: 0 auto;
}

#logout-link {
  float: right;
  margin-left: 2%;
}

#profile-link {
  float: right;
}

#profile-edit-link {
  float: right;
  margin-left: 2%;
}

#new-project-link {
  float: right;
}

.header {
  display: inline-block;
  box-sizing: border-box;
}

.logo {
  width: 200px;
}

#login-contain {
  width: 500px;
  /*float: right;*/
}

h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 15px;
}

.btn {
  background-color: #000080;
  color: white;
  border: 1px solid black;
}

header {
  background-color: white;
}

.project-preview {
  width: 218px;
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid white;
  margin: 5px;
}

.preview-image {
  max-width: 200px;
  margin: 5px;
}

footer {
  background-color: white;
  margin-top: 40px;
  height: 100px;
}

.full-image {
  max-width: 500px;
}

.comment {
  border: 2px solid black;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-text {
  margin: 5px;
}